body{
    background: url("./sea.jpg");
}
.float-right{
    float:right;
    cursor:pointer;
}
.form-group{
    font-size: 20px;
    margin:20px;
}
#todo{
    margin-top:20px;
}
#exittodo{
    float:right;
}