body{
    background: url("./sea.jpg");
}
.form-group{
    margin:20px;
}
#exitwl{
    margin:20px;
}
a:link {
    color:black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: blue;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }